/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Back Button Styles */
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2rem; /* Adjust size as needed */
    color: #0077b6; /* Color of the arrow */
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #005f85; /* Darken the color on hover */
}

.skills-page {
    padding: 5vw;
    margin: 3vw;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.page-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.skills-card {
    background: #fff;
    border-radius: 12px;
    width: 48%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skills-card:hover {
    transform: translateY(-10px);
}

.card-header {
    background: #2b85c2;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

.card-header h2 {
    color: white;
    font-size: 1.8rem;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-item {
    width: 45%;
    margin: 10px 0;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

.skill-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.skill-item p {
    color: #555;
    font-size: 1.1rem;
}

.skill-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skill-item img:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 600px) {
    .skills-card {
        width: 100%;
    }

    .skill-item {
        width: 45%;
    }

    .page-title {
        font-size: 2rem;
    }
}
