

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */
    gap: 30px;
}

.skills-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Ensure that on smaller screens, it stacks into one column */
@media screen and (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr; /* One column on smaller screens */
    }
}

.skills-card:hover {
    transform: translateY(-10px);
}

.card-header {
    background:  #00A3FF;;
    padding: 20px;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

.card-header h2 {
    color: white;
    font-size: 1.8rem;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-item {
    width: 45%;
    margin: 10px 0;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

.skill-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.skill-item p {
    color: #555;
    font-size: 1.1rem;
}

.skill-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skill-item img:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 600px) {
    .skills-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the skills cards */
    }

    .skills-card {
        width: 90%;
    }

    .skill-item {
        width: 45%;
    }

    .page-title {
        font-size: 2rem;
    }
}
